body {
    background-color: rgb(213, 236, 254);
    text-align: center;
}

h1 {
    color: rgb(0, 9, 112);
}

label {
    color: rgb(0, 9, 112);
}

#button {
    padding: 10px 15px;
    background-color: rgb(106, 153, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}